# Données COVID-19 Australie: EDA

Test évaluation pour le poste Inria / AP-HP - notebook 1

In [1]:
!pip install pycountry_convert

Collecting pycountry_convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting repoze.lru>=0.7
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Requirement already satisfied: wheel>=0.30.0 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pycountry_convert) (0.34.2)
Collecting pycountry>=16.11.27.1
  Downloading pycountry-20.7.3.tar.gz (10.1 MB)
     |████████████████████████████████| 10.1 MB 2.7 MB/s eta 0:00:01
Requirement already satisfied: pytest>=3.4.0 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pycountry_convert) (5.4.3)
Collecting pytest-mock>=1.6.3
  Downloading pytest_mock-3.3.1-py3-none-any.whl (11 kB)
Collecting pytest-cov>=2.5.1
  Downloading pytest_cov-2.10.1-py2.py3-none-any.whl (19 kB)
Collecting pprintpp>=0.3.0
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: py>=1.5.0 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pytest>=3.4.0->pycountry_convert) (1.9.0)
Requirement already satisfied: packaging in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pytest>=3.4.0->pycountry_convert) (20.4)
Requirement already satisfied: attrs>=17.4.0 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pytest>=3.4.0->pycountry_convert) (19.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pytest>=3.4.0->pycountry_convert) (8.4.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pytest>=3.4.0->pycountry_convert) (0.13.1)
Requirement already satisfied: wcwidth in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from pytest>=3.4.0->pycountry_convert) (0.2.5)
Collecting coverage>=4.4
  Downloading coverage-5.2.1-cp38-cp38-manylinux1_x86_64.whl (231 kB)
     |████████████████████████████████| 231 kB 44.4 MB/s eta 0:00:01
Requirement already satisfied: six in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /media/marco/DATA1/media/marco/DATA1/lib/python3.8/site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (2.4.7)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746863 sha256=68541fc69a554eefce30b44be958aae312f9747e640299a7c541cbe24baadc23
  Stored in directory: /home/marco/.cache/pip/wheels/09/eb/0d/4ee773c6a4aadc2a43cb5c1d07f268f13c4cdc0eec88e7c1ef
Successfully built pycountry
Installing collected packages: repoze.lru, pycountry, pytest-mock, coverage, pytest-cov, pprintpp, pycountry-convert
Successfully installed coverage-5.2.1 pprintpp-0.4.0 pycountry-20.7.3 pycountry-convert-0.7.2 pytest-cov-2.10.1 pytest-mock-3.3.1 repoze.lru-0.7

## 1. Importation des données et des librairies python

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
#%matplotlib inline
import seaborn as sns
from datetime import datetime
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import pycountry_convert as pc
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import folium

In [7]:
df_cases = pd.read_csv("australia_covid.csv")

In [8]:
print(df_cases.shape)
del df_cases['Unnamed: 0']
df_cases.head()

(6389, 15)

,patient_id,pcr,pcr_n,given_name,surname,street_number,address_1,suburb,postcode,age,phone_number,address_2,birth_year,state
0,347667,Negative,0,sebastian,mchenry,12.0,mundawari circuit,swan view,4551,28,08 61083524,ocean star villas,1990,wa
1,708481,Positive,1,sarah,rellos,20.0,torres street,bribie island,3199,77,02 73197286,missing,1943,sa
2,148825,Negative,0,chloe,brammy,238.0,fitchett street,carnegie,3280,19,02 48826642,missing,1954,qld
3,150081,Negative,0,charlie,missing,6.0,clark close,south melbourne,2602,35,03 24096098,talawa,1975,qld
4,876796,Negative,0,alexander,dixon,11.0,missing,torquay,2142,102,04 21654709,woodberry vlge,1918,wa