# Données COVID-19 Australie: exploration et nettoyage

Test évaluation pour le poste Inria / AP-HP - notebook 1

## 1. Importation des données et des librairies python

In [29]:
import pandas as pd
from sqlalchemy import create_engine
import time
import datetime

In [35]:
engine = create_engine('sqlite:///data.db', echo=False)
con = engine.connect()
df_patient = pd.read_sql('select * from patient', con=con, parse_dates=['date_of_birth'])
df_pcr = pd.read_sql('select * from test', con=con) 
con.close()

### 1.1 Données des patients

In [36]:
print("size patients dataframe:",df_patient.shape)
df_patient.head()

size patients dataframe: (20000, 12)

,patient_id,given_name,surname,street_number,address_1,suburb,postcode,state,date_of_birth,age,phone_number,address_2
0,221958,matisse,clarke,13.0,rene street,ellenbrook,2527,wa,1970-08-17 03:11:48,32.0,08 86018809,westella
1,771155,joshua,elrick,23.0,andrea place,east preston,2074,nsw,1970-08-10 07:22:01,34.0,02 97793152,foxdown
2,231932,alice,conboy,35.0,mountain circuit,prospect,2305,nsw,1970-08-18 07:01:45,22.0,02 20403934,None
3,465838,sienna,craswell,39.0,cumberlegeicrescent,henty,3620,wa,1970-08-18 15:20:09,30.0,02 62832318,jodane
4,359178,joshua,bastiaans,144.0,lowrie street,campbell town,4051,nsw,1970-08-12 20:20:30,31.0,03 69359594,None

In [37]:
print('how many patients in total?')
tot_patients = len(df_patient['patient_id'].unique())
print(tot_patients, ' patients') #num. unique IDs
tot_rows = len(df_patient.index)
print('')
print('how many duplicate IDs in the dataframe?')
print(tot_rows - tot_patients,' duplicates')

how many patients in total?
19798  patients

how many duplicate IDs in the dataframe?
202  duplicates

In [38]:
print('variables and types in patients dataframe:')
print('')
print(df_patient.dtypes) # variables and types

variables and types in patients dataframe:

patient_id                int64
given_name               object
surname                  object
street_number           float64
address_1                object
suburb                   object
postcode                 object
state                    object
date_of_birth    datetime64[ns]
age                     float64
phone_number             object
address_2                object
dtype: object

### 1.2 Résultats du PCR, test utilisé pour le diagnostic du Covid19

In [39]:
print("size pcr dataframe:",df_pcr.shape)
df_pcr.head()

size pcr dataframe: (8800, 2)

   patient_id       pcr
0      653091         N
1      347667  Negative
2      708481  Positive
3      148825  Negative
4      150081  Negative

In [40]:
print('how many patients in total?')
tot_patients = len(df_pcr['patient_id'].unique())
print(tot_patients, ' patients') #num. unique IDs
tot_rows = len(df_pcr.index)
print('')
print('how many duplicate IDs in the dataframe?')
print(tot_rows - tot_patients,' duplicates')

how many patients in total?
8765  patients

how many duplicate IDs in the dataframe?
35  duplicates